:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  // border: solid red 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  max-height: 100vh;
  overflow: hidden;
}

h1 {
  margin: 10px 0 10px 0;
}

.form {
  // border: solid blue 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.car-inventory {
display: none;
// border: solid green 1px;
  overflow: hidden;
  overflow-y: scroll;
  margin-top: 20px;
}

.car {
  // border: solid white 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 330px;

  &__image-container {
    // border: solid red 1px;
    height: auto;
  }

  &__image {
    // border: solid red 1px;
    width: 100%;
    height: auto;
    object-fit: contain;
    overflow: hidden;
  }

  &__info {
    margin: 0;
    padding: 0;

    // border: solid orange 1px;
    text-align: center;
    min-width: 40%;
    padding-right: 10px;

    &--make {
      text-wrap: balance;
      max-width: 50px;
    }
  }
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

p {
  font-size: medium;
  text-wrap: balance;
}

#bookings__table {
  border-collapse: collapse;
  width: 100%;
}

#bookings__table td,
#bookings__table th {
  border: 1px solid #ddd;
  padding: 8px;
  color: #242424;
}

#bookings__table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#bookings__table tr:hover {
  background-color: #ddd;
}

#bookings__table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: yellow;
  color: rgb(0, 0, 0);
}


// Take it away later
.bookings{
  display: none;
}

#bookings__table {
    margin:0;
    padding:0;
    background:white;
    border:none;
    border-collapse:collapse;
    border-spacing:0;
    background-image:none;
}